<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>장고 프로젝트</title>
<style>
	.head{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
</style>

</head>
<body background="/static/images/mainPageImage.jpg" style="background-repeat: no-repeat; background-size: cover;">
	<div class ="head">
		<div style="width: 50px;">
			<img src="/static/images/logo.png" id="mylogo" style="width: 30px;" />
		</div>
		<div style="width: 100%; text-align: center;">
		 제목
	    </div>
	</div>
	<hr>
	{{m|safe}}
<a>1.데이터 개요</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a>2.데이터 분석 방법</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a>3.데이터 분석 결과 평가 방법</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a>4.데이터 분석 시작</a><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a>5.결론</a>


</body>
</html>